<div class="col-md-6">
  <h2> Actor List </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let actor of actors">
        <td>{{actor.actorId}}</td>
        <td>{{actor.firstName}}</td>
        <td>{{actor.lastName}}</td>
        <td style="display: flex">
          <button class="btn btn-danger" (click)="deleteActor(actor)">Delete</button>
          <button class="btn btn-danger">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>