<div class="col-md-6">
  <div style="display: flex; justify-content: space-between">
    <form style="border: 2px solid red; border-radius: 10px;background-color: palegreen;">
      <h2> Add Film </h2>
      <div class="form-group">
        <label for="title">Film title:</label>
        <input type="text" [(ngModel)]="newFilm.title" placeholder="Enter title......" name="title" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="description">Film description:</label>
        <input type="text" [(ngModel)]="newFilm.description" placeholder="Enter film description....." name="description" class="form-control"
          id="description">
      </div>
      <div class="form-group">
        <label for="rentalRate">Film Rental Rate:</label>
        <input type="number" [(ngModel)]="newFilm.rentalRate" placeholder="Enter film rental rate....." name="rentalRate" class="form-control"
          id="rentalRate" step="0.01">
      </div>
      <div class="form-group">
        <label for="replacementCost">Film replacement cost:</label>
        <input type="number" [(ngModel)]="newFilm.replacementCost" placeholder="Enter film replacement cost....." name="replacementCost"
          class="form-control" id="replacementCost" step="0.01">
      </div>
      <div class="form-group">
        <label for="releaseYear">Film release year:</label>
        <input type="number" [(ngModel)]="newFilm.releaseYear" placeholder="Enter film release year....." name="releaseYear" class="form-control"
          id="releaseYear">
      </div>
      <button class="btn btn-add" (click)="addFilm(newFilm)">Add</button>
    </form>
    <form style="border: 2px solid green;  border-radius: 10px;background-color: lightgoldenrodyellow;">
      <h2> Film Detail </h2>
      <div class="form-group">
        <label for="id">Film ID: {{currentFilm.filmId}}</label>
      </div>
      <div class="form-group">
        <label for="title">Film title:</label>
        <input type="text" [(ngModel)]="currentFilm.title" name="title" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="description">Film description:</label>
        <input [(ngModel)]="currentFilm.description" name="description" class="form-control" id="description">
      </div>
      <div class="form-group">
        <label for="rentalRate">Film Rental Rate:</label>
        <input type="number" [(ngModel)]="currentFilm.rentalRate" name="rentalRate" class="form-control" id="rentalRate" step="0.01">
      </div>
      <div class="form-group">
        <label for="replacementCost">Film replacement cost:</label>
        <input type="number" [(ngModel)]="currentFilm.replacementCost" name="replacementCost" class="form-control" id="replacementCost"
          step="0.01">
      </div>
      <div class="form-group">
        <label for="releaseYear">Film release year:</label>
        <input type="number" [(ngModel)]="currentFilm.releaseYear" name="releaseYear" class="form-control" id="releaseYear">
      </div>
      <button class="btn btn-save" (click)="updateFilm(currentFilm)">Save</button>
    </form>
    <div>
      <label> Film's actors </label>
      <div class="tablecointainer">
        <table>
          <thead>
            <tr>
              <th class="hidden">Id</th>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let actor of currentFilm.actors" class="tablerow">
              <td class="hidden">{{actor.actorId}}</td>
              <td>{{actor.firstName}}</td>
              <td>{{actor.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div style="display: flex; align-items: center; justify-content: space-between">
    <h2> Film List </h2>
    <div class="titleSearch">
      <label for="titleFilter">Film title:</label>
      <input type="text" [(ngModel)]="titleFilter" name="titleFilter" class="titleSearch" id="titleFilter">
      <button class="btn btn-success" (click)="getFilmsByTitle()">Filter</button>
      <button class="btn btn-success" (click)="getAllFilms()">All</button>
    </div>
  </div>
  <div class="tablecointainer">
    <table class="table table-header">
      <thead>
        <tr>
          <th class="col-id">Id</th>
          <th class="col-title">Title</th>
          <th class="col-des">Description</th>
          <th class="col-action">Action</th>
        </tr>
      </thead>
    </table>
    <div class="table-body">
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let film of films" class="tablerow">
            <td class="col-id">{{film.filmId}}</td>
            <td class="col-title">{{film.title}}</td>
            <td class="col-des">{{film.description}}</td>
            <td class="col-action" style="display: flex">
              <button class="btn btn-danger" (click)="deleteFilm(film)">Delete</button>
              <button class="btn btn-edit" (click)="editFilm(film)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>