h2 {
	margin: 5px;
}

.tablerow:hover{
	background-color: lightgreen;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.btn-danger {
	border-radius: 8px;
	background-color: red;
}

.btn-edit {
	border-radius: 8px;
	background-color: lightgreen;
}

.btn-add {
	border-radius: 8px;
	background-color: lightblue;
}

.btn-save {
	border-radius: 12px;
	background-color: yellowgreen;
}

.btn:hover {
    background-color: white;
}

.btn {
	margin: 5px;
	padding: 5px;	
}

.form-group{
	display: flex;
	justify-content: space-between;
}

.tablecointainer {
	border: 2px solid blue; 
	border-radius: 10px;
	background-color: lightgray;
}

.table-header {
	background-color: lightcyan;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 2px solid blue;
}

.table-body {
	height: 355px; 
	overflow-x:auto; 
}

.table {
	table-layout: fixed;
	width: 100%;
}

.col-id {
	width: 3%;
	text-align: center
}

.col-title {
	width: 13%;
}

.col-des {
	width: 75%;
}